--allman false
--binarygrouping none
--closingparen balanced
--commas always
--decimalgrouping none
--elseposition same-line
--empty void
--exclude derived_data
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--header ignore
--hexgrouping none
--hexliteralcase uppercase
--ifdef indent
--indent 4
--indentcase false
--importgrouping alphabetized
--linebreaks lf
--maxwidth 120
--octalgrouping none
--operatorfunc spaced
--patternlet hoist
--ranges spaced
--self remove
--semicolons never
--stripunusedargs closure-only
--swiftversion 5.9
--trimwhitespace always
--wraparguments preserve
--wrapcollections preserve
