name: Compare Screenshot

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

env:
  TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
  TRAKT_CLIENT_ID: ${{ secrets.TRAKT_CLIENT_ID }}
  TRAKT_CLIENT_SECRET: ${{ secrets.TRAKT_CLIENT_SECRET }}
  TRAKT_REDIRECT_URI: ${{ secrets.TRAKT_REDIRECT_URI }}

jobs:
  compare-screenshot-test:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    permissions:
      contents: read # for clone
      actions: write # for upload-artifact

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Gradle Environment
        uses: ./.github/actions/setup-gradle

      - name: Get base commit SHA
        id: get-base-commit
        if: github.event_name == 'pull_request'
        run: |
          git fetch origin ${{ github.event.pull_request.base.ref }}
          BASE_SHA=$(git merge-base origin/${{ github.event.pull_request.base.ref }} HEAD)
          echo "base_sha=$BASE_SHA" >> "$GITHUB_OUTPUT"

      - uses: dawidd6/action-download-artifact@v11
        continue-on-error: true
        with:
          name: screenshot
          workflow: store-screenshot.yml
          commit: ${{ github.event_name == 'pull_request' && steps.get-base-commit.outputs.base_sha || github.sha }}

      - name: Compare screenshot test
        id: compare-screenshot-test
        run: |
          ./gradlew compareRoborazziDebug --stacktrace

      - uses: actions/upload-artifact@v5
        if: ${{ always() }}
        with:
          name: screenshot-diff
          path: |
            **/build/outputs/roborazzi
          retention-days: 30

      - uses: actions/upload-artifact@v5
        if: ${{ always() }}
        with:
          name: screenshot-diff-reports
          path: |
            **/build/reports
          retention-days: 30

      - uses: actions/upload-artifact@v5
        if: ${{ always() }}
        with:
          name: screenshot-diff-test-results
          path: |
            **/build/test-results
          retention-days: 30

      - name: Save PR number
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          mkdir -p ./pr
          echo ${{ github.event.number }} > ./pr/NR
      - uses: actions/upload-artifact@v5
        if: ${{ github.event_name == 'pull_request' }}
        with:
          name: pr
          path: pr/